#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main > * {
  margin: 20px;
}

header {
  display: flex;
  justify-content: center;
  gap: 1em;
  
  background-color: rgba(0, 0, 0, 0.75);
  /* width: 100vw; */
}

.card-ct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow-x: scroll; */
  overflow-y: hidden;
  gap: 1em;
}

.card {
  /* padding: 2em; */
  max-width: min-content;
}

.card img:hover {
  transform: scale(1.05);
}

.card h1 {
  font-size: 1.5em;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1em;
}
