
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.main-ct {
  display: flex;
}

.left {
  background-image: url(ressources/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 100vh;
}

.logo-ct {
  background-color: rgba(0, 0, 0, 0.50);
  width: 100%;
  margin-top: 25%;
}

.logo {
  font-size: 45px;
  color:aliceblue;
  text-align: center;
}

.right {
  width: auto;
}

