
header, .hero, footer {
  background-color: #1f2937;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb
}

header .logo {
  font-size: 24px;
  color: #f9faf8
}

button, .call2action {
  background-color: 3882f6;
}

.info h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: e5e7eb;
}

.quote #citation {
  font-size: 36px;
  font-style: italic;
}

.quote #author {
  color: #1f2937;
  font-weight: 900;
}

